/*总体样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Microsoft YaHei";
    font-size: 14px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #383d37;
    cursor: pointer;
}
img{
    border: none;
}
/*下拉框*/
.styled-select {
    width: 100%;
    background: #fff;
    height: 2rem;
    overflow: hidden;
    border: 1px solid #747a83;
    border-radius: 5px;
    background: url("../img/click.png") no-repeat right #fff;
    background-size:2rem 2rem;
    -moz-background-size:2rem 2rem; /* 老版本的 Firefox */
    background-repeat:no-repeat;
}
.styled-select select {
    background:transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 2rem;
    box-sizing: border-box;
    -webkit-appearance: none; /*for chrome*/
}
/*大礼包*/
.gift{
 /*    background-image: url("../img/gift.png");
    background-size:cover;
    background-attachment: fixed; */
}
.gift>img,.steps>img{
	width:100%;
	height:100%;
	position:fixed;
	top: 0;
	left: 0;
}
.gift #qrcode{
    width: 30%;
    position: fixed;
    bottom: 6.5%;
    right: 15.25%;
}
.gift #qrcode canvas{
    width: 100%;
    height: 100%;
}
.gift i{
    position: fixed;
    bottom: 3%;
    right: 15.55%;
    color: #000;
    font-style: normal;
    font-size: 0.6rem;
    
}
/*steps*/
.steps{
   /*  background-image: url("../img/background.png");
    background-size:cover;
    background-attachment: fixed;
    positon:fixed; */
}
.containter{
    width: 100%;
}
.widthAuto{
    width: 80%;
    margin: 0 auto;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    width:80%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index:10;
}
.center h2{
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.center div{
    margin-bottom: 1rem;
}
.center input{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #747a83;
    border-radius: 5px;
    padding-left: 5%;
    box-sizing: border-box;
    font-size:0.7rem;
    outline:none;
}
.center  button,#sn-show{
    text-align: center;
    display: block;
    background: #379fd5;
    color: #fff;
    border: none;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 0.7rem;
}
.center form select option{
    width: 100px !important;
}
/*step2*/
.center ul {
    overflow: hidden;
    border-bottom: 2px solid #9fa8b8;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.center ul li{
    float: left;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
}
.num  div{
    overflow: hidden;
    margin-bottom: 10px;
}
.num div label{
    float: left;
    display: inline-block;
    width:49%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 0.7rem;
}
.num .styled-select {
    float: left;
    width: 50%;
    background: #fff;
    height: 2rem;
    overflow: hidden;
    border: 1px solid #747a83;
    border-radius: 5px;
    background: url("../img/click.png") no-repeat right #fff;
     background-size:2rem 2rem;
    -moz-background-size:2rem 2rem; /* 老版本的 Firefox */
    background-repeat:no-repeat;
}
.styled-select select {
    float: left;
    background:transparent;
    width: 100%;
    padding: 5px;
    font-size: 0.7rem;
    border: 1px solid #ccc;
    height: 2rem;
    box-sizing: border-box;
    -webkit-appearance: none; /*for chrome*/
}
.sn{
    display: none;
}